body {
	font-family:calibri;
	font-size:14px;
	font-weight:100;
	margin:0;
	width:100%;
}
h1 {
	color:#000;
	font-size:30px;
	font-weight:400;
}
h2 {
	font-size:26px;
	letter-spacing:1.2px;
	font-weight:400;
}
.head-bg {
        width:100%;
}
.header {
	background: #111;

}
.top-head {
	letter-spacing:1.2px;
	font-family:calibri;
	padding:10px 10% 0 10%;
	height:50px;
	color:#fff;
}
.logo a{text-decoration: none;color:#fff;font-weight:400;font-size:22px;}
@media screen and (min-width: 320px) {
  .logo a{
    font-size: 20px;
  }
}
@media screen and (min-width: 1000px) {
  .logo a{
    font-size: 22px;
  }
}
.top-left {
	width:55%;
	padding:5px;
	float:left;
}
.wrap {
	font-size:26px;
	font-family:calibri;
	padding: 1% 10% 1% 10%;
	color:#000;
	position:relative;
	overflow: hidden;
	border-radius:3px;
}
td {
	font-size:14px;
	padding-bottom:10px;
}
input {
	padding:10px;
	border:1px solid #ddd;
	border-radius:3px;

}
.btn {
	background:#fff;
    cursor:pointer;
    width:100%;
	padding:15px 20px 15px 20px;
	border:1px solid #0099CC;
	border-radius:3px;
	color:#0099CC;
	-webkit-transition: .2s; /* For Safari 3.1 to 6.0 */
	transition: .2s;
}
.btn:hover {
	background:#0099CC;
	color:#fff;
    transition: .2s;
}
#reg a{
    float:right;
    text-decoration:none;
	padding:10px 15px 10px 15px;
	color:#fff;
	background:#111;
	border-radius:3px;
    border:1px solid #fff;
	transition:.2s;
}

#reg a:hover {
	color:#111;
    border:1px solid #fff;
    background:#fff;
	transition:.2s;
}
.sidebar ul {
	list-style-type: none;
        margin: 0;
        padding: 0;
        border-radius:3px;
}
.sidebar {
        float:left;
        box-shadow:0px 0px 6px 3px #fafafa;
        border:1px solid #eee;
        margin-top:2%;
        margin-right:2%;
        position: relative;
        height:auto;
        width:15%;
}
@media screen and (min-width: 320px) {
  .sidebar{
        width:100%;
        margin-bottom:5%;
  }
}
@media screen and (min-width: 1000px) {
  .sidebar{
        width:15%;
  }
}
.sidebar li {
        list-style-type: none;
}

.sidebar li a {
        display: block;
	color: #111;
	font-weight: 400;
        padding:10px;
	font-size:16px;
	text-align: center;
	text-decoration: none;
	transition: .2s;
}
#sidebaractive {
        background:#0099cc;
	color:#fff;
}
.sidebar li a:hover:not(.active) {
        background:#0099cc;
	transition:.2s;
	color:#fff;
}
.sidehead {
        font-size: 16px;
        text-align: center;
        font-weight:700;
}
.main {
	height:100%;
	padding:5% 5% 0 5%;
	background-image:url('');
	background-repeat: no-repeat;
	background-size:100%;

}
.wrapper {
	background-image:url('');
	background-width:100%;
}
.form {
	font-family:calibri;
	border-radius:3px;

}
.details {
	font-size:26px;
	font-family:calibri;
	padding: 1% 10% 1% 10%;
	color:#000;
	position:relative;
	overflow: hidden;
	border-radius:3px;
}
.content {
        width:80%;
        float:right;
}
@media screen and (min-width: 320px) {
  .content{
        width:100%;
  }
}
@media screen and (min-width: 1000px) {
  .content{
        width:80%;
        float:right;
  }
}
.footer_short {
        border-top:1px solid #ddd;
        width:100%;
        position: absolute!important;
        bottom:0!important;
        min-
		margin:0;
}
.footer_long {
        border-top:1px solid #ddd;
        width:100%;
        position: relative;
		margin:0;
}
.footercaption {
		font-weight: 400;
        margin-left:10%;
        color:#444;
}